######################################################### \
#### User MCU and TMCs wiring definition file ###########  + --> Everything MCU related :)
######################################################### /

# This file is yours: keep in mind that it will not be erased when updating
# the config using moonraker and it will be kept as you've set it.

# Put here all your wiring definitions, your MCU serial port, CANbus UUID, etc...
# It should be populated automatically with some default wiring templates during
# the first time install of the config if you choose to do so when asked by the
# script. If it's not the case, you will need to manually define all your
# [board_pins] section. You can use the pinout documentation here: ./docs/pinout.md

# ------------------------------------------------------------------------------------------


#---------------------------------------------#
#### BTT Manta M8P v1.1 MCU definition ########
#---------------------------------------------#

[mcu]
##--------------------------------------------------------------------
# This board works by using a serial connection by default. If you
# want to use CAN, invert the commented lines and use canbus_uuid.

# serial: /dev/serial/by-id/change-me-to-the-correct-mcu-path
canbus_uuid: 3838bd79a67d
##--------------------------------------------------------------------

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PE9, EXP1_2=PE10,
    EXP1_3=PE11, EXP1_4=PE12,
    EXP1_5=PE13, EXP1_6=PE14,    # Slot in the socket on this side
    EXP1_7=PE15, EXP1_8=PB10,
    EXP1_9=<GND>, EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=PB14, EXP2_2=PB13,
    EXP2_3=PF7, EXP2_4=PB12,
    EXP2_5=PE7, EXP2_6=PB11,      # Slot in the socket on this side
    EXP2_7=PE8, EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=PC5


#--------------------------------------------#
#### BTT SB2209 v1.0 MCU definition ########
#--------------------------------------------#

[mcu EBBCan]
##--------------------------------------------------------------------
canbus_uuid: e9ee80a08dd6
##--------------------------------------------------------------------


#--------------------------------------------#
#### Raspberry Pi Pico RP2040 definition ########
#--------------------------------------------#

[mcu rp2040]
##--------------------------------------------------------------------
serial: /dev/serial/by-id/usb-Klipper_rp2040_DE62345767222B24-if00
restart_method: command
##--------------------------------------------------------------------

#--------------------------------------------------#
#### Tircown ERCF easybrd MCU definition ###########
#--------------------------------------------------#

#[mcu ercf]
##--------------------------------------------------------------------
#serial: /dev/serial/by-id/change-me-to-the-correct-mcu-path
##--------------------------------------------------------------------

# If you want to override the wiring of the ERCF easy brd, keep in mind that this
# board is defined using the "ercf" name. So you should use "pin: ercf:PIN_NAME"
# in your own overrides.cfg files.

#[include config/mcu_definitions/ercf/Tircown_ERCF_easy_brd.cfg] # Do not remove this line
#[board_pins mcu_ercf]
#mcu: ercf
#aliases:
#    GEAR_STEP=MCU_GEAR_STEP         , GEAR_DIR=MCU_GEAR_DIR         , GEAR_ENABLE=MCU_GEAR_ENABLE         , GEAR_TMCUART=MCU_TMCUART     ,
#    SELECTOR_STEP=MCU_SELECTOR_STEP , SELECTOR_DIR=MCU_SELECTOR_DIR , SELECTOR_ENABLE=MCU_SELECTOR_ENABLE , SELECTOR_TMCUART=MCU_TMCUART ,
#    SELECTOR_DIAG=MCU_SELECTOR_DIAG ,

#    GEAR_STOP=MCU_GEAR_STOP , SELECTOR_STOP=MCU_SELECTOR_STOP ,

#    ERCF_SERVO=MCU_SERVO ,

#    ERCF_ENCODER=MCU_ENCODER ,

